# PROJECT: Low Emission Zone

## EXAMINE THE DATA

#### 1. Exporting the file data from two cities, Berlin(with LEZ since 2008)(dfb) and Warsaw (will implemeted in 2024)(dfw).

In [1067]:
import pandas as pd 
import numpy as np

In [1068]:
dfb = pd.read_csv('Berlin_emissions.csv')

In [1069]:
dfb.shape

(155, 17)

In [1070]:
display(dfb)

,City Boundary Specification (LAU/grid),Country Or Territory,City,City Code,Total City Population *,Year,Air Pollutant,Health Risk Scenario,Populated Area [km2],Air Pollution Average [ug/m3],Air Pollution Population Weighted Average [ug/m3],Premature Deaths,Premature Deaths - lower CI,Premature Deaths - upper CI,Years Of Life Lost,Years Of Life Lost - lower CI,Years Of Life Lost - upper CI
0,Urban Centres (grid),Germany,Berlin,GEOSTAT11_186,3346622,2005,NO2,WHO_2005_HRAPIE_Scen_Base,643,25.8,28.4,1397.0,805.0,1985.0,15755.0,9090.0,22381.0
1,Urban Centres (grid),Germany,Berlin,GEOSTAT11_186,3346622,2005,O3,WHO_2005_HRAPIE_Scen_Base,642,3853.3,3767.4,94.0,46.0,143.0,1134.0,548.0,1679.0
2,Urban Centres (grid),Germany,Berlin,GEOSTAT11_186,3346622,2005,PM10,WHO_2005_HRAPIE_Scen_Base,643,27.0,27.4,NaN,NaN,NaN,NaN,NaN,NaN
3,Urban Centres (grid),Germany,Berlin,GEOSTAT11_186,3346622,2005,PM2.5,WHO_2005_HRAPIE_Scen_Base,643,18.8,19.1,3472.0,2308.0,4518.0,39167.0,26045.0,50976.0
4,Urban Centres (grid),Germany,Berlin,GEOSTAT11_186,3346622,2005,NO2,WHO_2021_AQG_Scen_Base,643,25.8,28.4,1143.0,578.0,2221.0,12885.0,6535.0,25053.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,Urban Centres (grid),Germany,Berlin,GEOSTAT11_186,3373159,2021,PM10,WHO_2021_AQG_Scen_Base,642,17.3,17.6,NaN,NaN,NaN,NaN,NaN,NaN
151,Urban Centres (grid),Germany,Berlin,GEOSTAT11_186,3373159,2021,PM2.5,WHO_2021_AQG_Scen_Base,642,12.2,12.3,2161.0,1649.0,2413.0,22257.0,16967.0,24839.0
152,Urban Centres (grid),Germany,Berlin,GEOSTAT11_186,3373159,2021,NO2,WHO_2021_AQG_Scen_Sensitivity_2,643,15.9,18.2,1400.0,710.0,2724.0,14415.0,7309.0,28040.0
153,Urban Centres (grid),Germany,Berlin,GEOSTAT11_186,3373159,2021,O3,WHO_2021_AQG_Scen_Sensitivity_2,643,16855.8,16815.3,778.0,616.0,940.0,8275.0,6559.0,9983.0
154,Urban Centres (grid),Germany,Berlin,GEOSTAT11_186,3373159,2021,PM2.5,WHO_2021_AQG_Scen_Sensitivity_2,643,12.2,12.3,3574.0,2736.0,3979.0,36786.0,28170.0,40963.0

In [1071]:
dfw = pd.read_csv('Warsaw_emissions.csv')

In [1072]:
dfw.shape

(155, 17)

In [1073]:
display(dfw)

,City Boundary Specification (LAU/grid),Country Or Territory,City,City Code,Total City Population *,Year,Air Pollutant,Health Risk Scenario,Populated Area [km2],Air Pollution Average [ug/m3],Air Pollution Population Weighted Average [ug/m3],Premature Deaths,Premature Deaths - lower CI,Premature Deaths - upper CI,Years Of Life Lost,Years Of Life Lost - lower CI,Years Of Life Lost - upper CI
0,Urban Centres (grid),Poland,Warszawa,GEOSTAT11_171,1709825,2005,NO2,WHO_2005_HRAPIE_Scen_Base,303,23.1,25.4,428.0,246.0,609.0,5471.0,3143.0,7803.0
1,Urban Centres (grid),Poland,Warszawa,GEOSTAT11_171,1709825,2005,O3,WHO_2005_HRAPIE_Scen_Base,303,4638.5,4565.6,56.0,27.0,81.0,755.0,365.0,1118.0
2,Urban Centres (grid),Poland,Warszawa,GEOSTAT11_171,1709825,2005,PM10,WHO_2005_HRAPIE_Scen_Base,302,31.5,32.8,NaN,NaN,NaN,NaN,NaN,NaN
3,Urban Centres (grid),Poland,Warszawa,GEOSTAT11_171,1709825,2005,PM2.5,WHO_2005_HRAPIE_Scen_Base,303,22.2,22.9,1945.0,1299.0,2521.0,24873.0,16604.0,32258.0
4,Urban Centres (grid),Poland,Warszawa,GEOSTAT11_171,1709825,2005,NO2,WHO_2021_AQG_Scen_Base,303,23.1,25.4,451.0,229.0,881.0,5778.0,2925.0,11269.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,Urban Centres (grid),Poland,Warszawa,GEOSTAT11_171,1694872,2021,PM10,WHO_2021_AQG_Scen_Base,302,28.7,29.3,NaN,NaN,NaN,NaN,NaN,NaN
151,Urban Centres (grid),Poland,Warszawa,GEOSTAT11_171,1694872,2021,PM2.5,WHO_2021_AQG_Scen_Base,303,20.7,21.2,2586.0,1987.0,2874.0,28368.0,21801.0,31533.0
152,Urban Centres (grid),Poland,Warszawa,GEOSTAT11_171,1694872,2021,NO2,WHO_2021_AQG_Scen_Sensitivity_2,302,20.2,22.0,942.0,479.0,1826.0,10338.0,5251.0,20043.0
153,Urban Centres (grid),Poland,Warszawa,GEOSTAT11_171,1694872,2021,O3,WHO_2021_AQG_Scen_Sensitivity_2,302,16639.7,16579.1,431.0,341.0,519.0,4888.0,3874.0,5897.0
154,Urban Centres (grid),Poland,Warszawa,GEOSTAT11_171,1694872,2021,PM2.5,WHO_2021_AQG_Scen_Sensitivity_2,302,20.7,21.2,3323.0,2566.0,3686.0,36460.0,28145.0,40442.0

## DATA CLEANING

#### 1. Delete star, lower case with underscore

In [1074]:
dfb = dfb.rename(columns={'Total City Population *': 'Total City Population'})

In [1075]:
dfw = dfw.rename(columns={'Total City Population *': 'Total City Population'})

In [1076]:
cols = []
for col in dfb.columns:
    cols.append(col.lower())
dfb.columns = cols

In [1077]:
cols = []
for col in dfw.columns:
    cols.append(col.lower())
dfw.columns = cols

In [1078]:
dfb = dfb.rename(columns={'populated area [km2]': 'populated area (Km$^2$)', 'air pollution average [ug/m3]': 'air pollution average ($\mu$g/m$^3$)', 'air pollution population weighted average [ug/m3]': 'air pollution population weighted average ($\mu$g/m$^3$)', 'premature deaths - lower ci': 'premature deaths - lower CI', 'premature deaths - upper ci': 'premature deaths - upper CI', 'years of life lost - lower ci': 'years of life lost - lower CI', 'years of life lost - upper ci': 'years of life lost - upper CI'
  })

In [1079]:
dfw = dfw.rename(columns={'populated area [km2]': 'populated area (Km$^2$)', 'air pollution average [ug/m3]': 'air pollution average ($\mu$g/m$^3$)', 'air pollution population weighted average [ug/m3]': 'air pollution population weighted average ($\mu$g/m$^3$)', 'premature deaths - lower ci': 'premature deaths - lower CI', 'premature deaths - upper ci': 'premature deaths - upper CI', 'years of life lost - lower ci': 'years of life lost - lower CI', 'years of life lost - upper ci': 'years of life lost - upper CI'
  })

In [1080]:
dfb.columns = dfb.columns.str.replace(' ', '_')

In [1081]:
dfw.columns = dfw.columns.str.replace(' ', '_')

In [1082]:
dfb

,city_boundary_specification_(lau/grid),country_or_territory,city,city_code,total_city_population,year,air_pollutant,health_risk_scenario,populated_area_(Km$^2$),air_pollution_average_($\mu$g/m$^3$),air_pollution_population_weighted_average_($\mu$g/m$^3$),premature_deaths,premature_deaths_-_lower_CI,premature_deaths_-_upper_CI,years_of_life_lost,years_of_life_lost_-_lower_CI,years_of_life_lost_-_upper_CI
0,Urban Centres (grid),Germany,Berlin,GEOSTAT11_186,3346622,2005,NO2,WHO_2005_HRAPIE_Scen_Base,643,25.8,28.4,1397.0,805.0,1985.0,15755.0,9090.0,22381.0
1,Urban Centres (grid),Germany,Berlin,GEOSTAT11_186,3346622,2005,O3,WHO_2005_HRAPIE_Scen_Base,642,3853.3,3767.4,94.0,46.0,143.0,1134.0,548.0,1679.0
2,Urban Centres (grid),Germany,Berlin,GEOSTAT11_186,3346622,2005,PM10,WHO_2005_HRAPIE_Scen_Base,643,27.0,27.4,NaN,NaN,NaN,NaN,NaN,NaN
3,Urban Centres (grid),Germany,Berlin,GEOSTAT11_186,3346622,2005,PM2.5,WHO_2005_HRAPIE_Scen_Base,643,18.8,19.1,3472.0,2308.0,4518.0,39167.0,26045.0,50976.0
4,Urban Centres (grid),Germany,Berlin,GEOSTAT11_186,3346622,2005,NO2,WHO_2021_AQG_Scen_Base,643,25.8,28.4,1143.0,578.0,2221.0,12885.0,6535.0,25053.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,Urban Centres (grid),Germany,Berlin,GEOSTAT11_186,3373159,2021,PM10,WHO_2021_AQG_Scen_Base,642,17.3,17.6,NaN,NaN,NaN,NaN,NaN,NaN
151,Urban Centres (grid),Germany,Berlin,GEOSTAT11_186,3373159,2021,PM2.5,WHO_2021_AQG_Scen_Base,642,12.2,12.3,2161.0,1649.0,2413.0,22257.0,16967.0,24839.0
152,Urban Centres (grid),Germany,Berlin,GEOSTAT11_186,3373159,2021,NO2,WHO_2021_AQG_Scen_Sensitivity_2,643,15.9,18.2,1400.0,710.0,2724.0,14415.0,7309.0,28040.0
153,Urban Centres (grid),Germany,Berlin,GEOSTAT11_186,3373159,2021,O3,WHO_2021_AQG_Scen_Sensitivity_2,643,16855.8,16815.3,778.0,616.0,940.0,8275.0,6559.0,9983.0
154,Urban Centres (grid),Germany,Berlin,GEOSTAT11_186,3373159,2021,PM2.5,WHO_2021_AQG_Scen_Sensitivity_2,643,12.2,12.3,3574.0,2736.0,3979.0,36786.0,28170.0,40963.0

In [1083]:
dfw

,city_boundary_specification_(lau/grid),country_or_territory,city,city_code,total_city_population,year,air_pollutant,health_risk_scenario,populated_area_(Km$^2$),air_pollution_average_($\mu$g/m$^3$),air_pollution_population_weighted_average_($\mu$g/m$^3$),premature_deaths,premature_deaths_-_lower_CI,premature_deaths_-_upper_CI,years_of_life_lost,years_of_life_lost_-_lower_CI,years_of_life_lost_-_upper_CI
0,Urban Centres (grid),Poland,Warszawa,GEOSTAT11_171,1709825,2005,NO2,WHO_2005_HRAPIE_Scen_Base,303,23.1,25.4,428.0,246.0,609.0,5471.0,3143.0,7803.0
1,Urban Centres (grid),Poland,Warszawa,GEOSTAT11_171,1709825,2005,O3,WHO_2005_HRAPIE_Scen_Base,303,4638.5,4565.6,56.0,27.0,81.0,755.0,365.0,1118.0
2,Urban Centres (grid),Poland,Warszawa,GEOSTAT11_171,1709825,2005,PM10,WHO_2005_HRAPIE_Scen_Base,302,31.5,32.8,NaN,NaN,NaN,NaN,NaN,NaN
3,Urban Centres (grid),Poland,Warszawa,GEOSTAT11_171,1709825,2005,PM2.5,WHO_2005_HRAPIE_Scen_Base,303,22.2,22.9,1945.0,1299.0,2521.0,24873.0,16604.0,32258.0
4,Urban Centres (grid),Poland,Warszawa,GEOSTAT11_171,1709825,2005,NO2,WHO_2021_AQG_Scen_Base,303,23.1,25.4,451.0,229.0,881.0,5778.0,2925.0,11269.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,Urban Centres (grid),Poland,Warszawa,GEOSTAT11_171,1694872,2021,PM10,WHO_2021_AQG_Scen_Base,302,28.7,29.3,NaN,NaN,NaN,NaN,NaN,NaN
151,Urban Centres (grid),Poland,Warszawa,GEOSTAT11_171,1694872,2021,PM2.5,WHO_2021_AQG_Scen_Base,303,20.7,21.2,2586.0,1987.0,2874.0,28368.0,21801.0,31533.0
152,Urban Centres (grid),Poland,Warszawa,GEOSTAT11_171,1694872,2021,NO2,WHO_2021_AQG_Scen_Sensitivity_2,302,20.2,22.0,942.0,479.0,1826.0,10338.0,5251.0,20043.0
153,Urban Centres (grid),Poland,Warszawa,GEOSTAT11_171,1694872,2021,O3,WHO_2021_AQG_Scen_Sensitivity_2,302,16639.7,16579.1,431.0,341.0,519.0,4888.0,3874.0,5897.0
154,Urban Centres (grid),Poland,Warszawa,GEOSTAT11_171,1694872,2021,PM2.5,WHO_2021_AQG_Scen_Sensitivity_2,302,20.7,21.2,3323.0,2566.0,3686.0,36460.0,28145.0,40442.0

#### 2. Check NaN values

In [1084]:
dfb.isna().sum()

city_boundary_specification_(lau/grid)                       0
country_or_territory                                         0
city                                                         0
city_code                                                    0
total_city_population                                        0
year                                                         0
air_pollutant                                                0
health_risk_scenario                                         0
populated_area_(Km$^2$)                                      0
air_pollution_average_($\mu$g/m$^3$)                         0
air_pollution_population_weighted_average_($\mu$g/m$^3$)     0
premature_deaths                                            34
premature_deaths_-_lower_CI                                 34
premature_deaths_-_upper_CI                                 34
years_of_life_lost                                          34
years_of_life_lost_-_lower_CI                               34
years_of_life_lost_-_upper_CI                               34
dtype: int64

In [1085]:
dfw.isna().sum()

city_boundary_specification_(lau/grid)                       0
country_or_territory                                         0
city                                                         0
city_code                                                    0
total_city_population                                        0
year                                                         0
air_pollutant                                                0
health_risk_scenario                                         0
populated_area_(Km$^2$)                                      0
air_pollution_average_($\mu$g/m$^3$)                         0
air_pollution_population_weighted_average_($\mu$g/m$^3$)     0
premature_deaths                                            34
premature_deaths_-_lower_CI                                 34
premature_deaths_-_upper_CI                                 34
years_of_life_lost                                          34
years_of_life_lost_-_lower_CI                               34
years_of_life_lost_-_upper_CI                               34
dtype: int64

In principle this values are not relevant to our study. Checking in detalil both dat sets separated there are same NaN values for Berlin and Warsaw but if we delete it will lose data related with pollutant particles PM10.

#### 3. Dropping unnecessary columns

As categorical data we're only interested in the country and city, not the city code or the boundary specification, either the health risk scenario. For that, this columns are deleted and a new dataframe created called d4.

In [1086]:
dfb = dfb.drop(['city_boundary_specification_(lau/grid)', 'city_code', 'health_risk_scenario','populated_area_(Km$^2$)', 'premature_deaths_-_lower_CI', 'premature_deaths_-_upper_CI', 'years_of_life_lost_-_lower_CI', 'years_of_life_lost_-_upper_CI'], axis=1)

In [1087]:
dfw = dfw.drop(['city_boundary_specification_(lau/grid)', 'city_code', 'health_risk_scenario','populated_area_(Km$^2$)', 'premature_deaths_-_lower_CI', 'premature_deaths_-_upper_CI', 'years_of_life_lost_-_lower_CI', 'years_of_life_lost_-_upper_CI'], axis=1)

#### 4. Check duplicates

In [1088]:
duplicates = dfb.duplicated()
print(duplicates)

0      False
1      False
2      False
3      False
4      False
       ...
150     True
151    False
152    False
153    False
154    False
Length: 155, dtype: bool

In [1089]:
dfb = dfb.drop_duplicates()

In [1090]:
duplicates = dfw.duplicated()
print(duplicates)

0      False
1      False
2      False
3      False
4      False
       ...
150     True
151    False
152    False
153    False
154    False
Length: 155, dtype: bool

In [1091]:
dfw = dfw.drop_duplicates()

#### 5. Split the data from air pollutant in new columns corresponding to NO₂, O₃, PM2,5 and PM10.

In [1092]:
# Initialize new columns with NaN values
dfb['NO2_pollution($\\mu$g/m$^3$)'] = np.nan
dfb['O3_pollution($\\mu$g/m$^3$)'] = np.nan
dfb['PM10_pollution($\\mu$g/m$^3$)'] = np.nan
dfb['PM2.5_pollution($\\mu$g/m$^3$)'] = np.nan

# Fill the new columns with corresponding pollution values
for index, row in dfb.iterrows():
    pollutant = row['air_pollutant']
    pollution_value = row['air_pollution_population_weighted_average_($\mu$g/m$^3$)']
    dfb.at[index, f'{pollutant}_pollution($\\mu$g/m$^3$)'] = pollution_value

In [1093]:
dfb.drop(['air_pollution_population_weighted_average_($\mu$g/m$^3$)', 'air_pollutant'], axis=1, inplace=True)

In [1094]:
display(dfb)

,country_or_territory,city,total_city_population,year,air_pollution_average_($\mu$g/m$^3$),premature_deaths,years_of_life_lost,NO2_pollution($\mu$g/m$^3$),O3_pollution($\mu$g/m$^3$),PM10_pollution($\mu$g/m$^3$),PM2.5_pollution($\mu$g/m$^3$)
0,Germany,Berlin,3346622,2005,25.8,1397.0,15755.0,28.4,NaN,NaN,NaN
1,Germany,Berlin,3346622,2005,3853.3,94.0,1134.0,NaN,3767.4,NaN,NaN
2,Germany,Berlin,3346622,2005,27.0,NaN,NaN,NaN,NaN,27.4,NaN
3,Germany,Berlin,3346622,2005,18.8,3472.0,39167.0,NaN,NaN,NaN,19.1
4,Germany,Berlin,3346622,2005,25.8,1143.0,12885.0,28.4,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
149,Germany,Berlin,3373159,2021,3121.3,146.0,1545.0,NaN,3114.1,NaN,NaN
151,Germany,Berlin,3373159,2021,12.2,2161.0,22257.0,NaN,NaN,NaN,12.3
152,Germany,Berlin,3373159,2021,15.9,1400.0,14415.0,18.2,NaN,NaN,NaN
153,Germany,Berlin,3373159,2021,16855.8,778.0,8275.0,NaN,16815.3,NaN,NaN
154,Germany,Berlin,3373159,2021,12.2,3574.0,36786.0,NaN,NaN,NaN,12.3

In [1095]:
# Initialize new columns with NaN values
dfw['NO2_pollution($\\mu$g/m$^3$)'] = np.nan
dfw['O3_pollution($\\mu$g/m$^3$)'] = np.nan
dfw['PM10_pollution($\\mu$g/m$^3$)'] = np.nan
dfw['PM2.5_pollution($\\mu$g/m$^3$)'] = np.nan

# Fill the new columns with corresponding pollution values
for index, row in dfw.iterrows():
    pollutant = row['air_pollutant']
    pollution_value = row['air_pollution_population_weighted_average_($\mu$g/m$^3$)']
    dfw.at[index, f'{pollutant}_pollution($\\mu$g/m$^3$)'] = pollution_value

In [1096]:
dfw.drop(['air_pollution_population_weighted_average_($\mu$g/m$^3$)', 'air_pollutant'], axis=1, inplace=True)

In [1097]:
display(dfw)

,country_or_territory,city,total_city_population,year,air_pollution_average_($\mu$g/m$^3$),premature_deaths,years_of_life_lost,NO2_pollution($\mu$g/m$^3$),O3_pollution($\mu$g/m$^3$),PM10_pollution($\mu$g/m$^3$),PM2.5_pollution($\mu$g/m$^3$)
0,Poland,Warszawa,1709825,2005,23.1,428.0,5471.0,25.4,NaN,NaN,NaN
1,Poland,Warszawa,1709825,2005,4638.5,56.0,755.0,NaN,4565.6,NaN,NaN
2,Poland,Warszawa,1709825,2005,31.5,NaN,NaN,NaN,NaN,32.8,NaN
3,Poland,Warszawa,1709825,2005,22.2,1945.0,24873.0,NaN,NaN,NaN,22.9
4,Poland,Warszawa,1709825,2005,23.1,451.0,5778.0,25.4,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
149,Poland,Warszawa,1694872,2021,3265.9,85.0,967.0,NaN,3256.7,NaN,NaN
151,Poland,Warszawa,1694872,2021,20.7,2586.0,28368.0,NaN,NaN,NaN,21.2
152,Poland,Warszawa,1694872,2021,20.2,942.0,10338.0,22.0,NaN,NaN,NaN
153,Poland,Warszawa,1694872,2021,16639.7,431.0,4888.0,NaN,16579.1,NaN,NaN
154,Poland,Warszawa,1694872,2021,20.7,3323.0,36460.0,NaN,NaN,NaN,21.2

#### 6. Finding and dropping outliers in O₃_pollution

In [1098]:
def outliers(column, threshold = 3):
   
    data = column[abs(column.apply(lambda x: (x - column.mean()) / column.var() ** (1/2))) > threshold]
    
    return data

O3_outliers_b = outliers(dfb["O3_pollution($\mu$g/m$^3$)"]) # From Erin deleting outliers 
len(O3_outliers_b)

3

In [1099]:
O3_outliers_b

131    17730.7
142    17666.8
153    16815.3
Name: O3_pollution($\mu$g/m$^3$), dtype: float64

In [1100]:
def remove_outliers(data, outliers):
    return data.drop(outliers.index)

# Remove outliers from the DataFrame
dfb_cleaned = remove_outliers(dfb, O3_outliers_b)

# Verify the removal
dfb_cleaned.shape

(135, 11)

In [1101]:
def outliers(column, threshold = 2):
   
    data = column[abs(column.apply(lambda x: (x - column.mean()) / column.var() ** (1/2))) > threshold]
    
    return data

O3_outliers_w = outliers(dfw["O3_pollution($\mu$g/m$^3$)"]) # From Erin deleting outliers 
len(O3_outliers_w)

3

In [1102]:
O3_outliers_w

131    17189.4
142    15041.3
153    16579.1
Name: O3_pollution($\mu$g/m$^3$), dtype: float64

In [1103]:
def remove_outliers(data, outliers):
    return data.drop(outliers.index)

# Remove outliers from the DataFrame
dfw_cleaned = remove_outliers(dfw, O3_outliers_w)

# Verify the removal
dfw_cleaned.shape

(135, 11)

## STORE THE DATA

The cleaned dataframes would be stored in a new .csv file and MySQL Database.

 - to a CSV

In [1104]:
dfb_cleaned.to_csv('clean_data_Berlin.csv,', encoding='utf-8')

In [1105]:
dfw_cleaned.to_csv('clean_data_Warsaw.csv,', encoding='utf-8')

 - to MySQL

In [1109]:
import pymysql
from sqlalchemy import create_engine
from getpass import getpass

In [1112]:
password = getpass()

········

In [1113]:
connection_string = f'mysql+pymysql://root:{password}@localhost/LEZ_Berlin'
engine = create_engine(connection_string)
table_name = 'LEZ_Berlin_clean'
dfb_cleaned.to_sql(table_name, engine, index=False, if_exists='replace')

135

In [1114]:
connection_string = f'mysql+pymysql://root:{password}@localhost/LEZ_Warsaw'
engine = create_engine(connection_string)
table_name = 'LEZ_Warsaw_clean'
dfw_cleaned.to_sql(table_name, engine, index=False, if_exists='replace')

135

## EXPLORING THE  DATA FOR BOTH CITIES

In [1115]:
import seaborn as sns 
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [1116]:
dfb_cleaned.info

<bound method DataFrame.info of     country_or_territory    city  total_city_population  year  \
0                Germany  Berlin                3346622  2005
1                Germany  Berlin                3346622  2005
2                Germany  Berlin                3346622  2005
3                Germany  Berlin                3346622  2005
4                Germany  Berlin                3346622  2005
..                   ...     ...                    ...   ...
148              Germany  Berlin                3373159  2021
149              Germany  Berlin                3373159  2021
151              Germany  Berlin                3373159  2021
152              Germany  Berlin                3373159  2021
154              Germany  Berlin                3373159  2021

     air_pollution_average_($\mu$g/m$^3$)  premature_deaths  \
0                                    25.8            1397.0
1                                  3853.3              94.0
2                                    27.0               NaN
3                                    18.8            3472.0
4                                    25.8            1143.0
..                                    ...               ...
148                                  15.9             637.0
149                                3121.3             146.0
151                                  12.2            2161.0
152                                  15.9            1400.0
154                                  12.2            3574.0

     years_of_life_lost  NO2_pollution($\mu$g/m$^3$)  \
0               15755.0                         28.4
1                1134.0                          NaN
2                   NaN                          NaN
3               39167.0                          NaN
4               12885.0                         28.4
..                  ...                          ...
148              6561.0                         18.2
149              1545.0                          NaN
151             22257.0                          NaN
152             14415.0                         18.2
154             36786.0                          NaN

     O3_pollution($\mu$g/m$^3$)  PM10_pollution($\mu$g/m$^3$)  \
0                           NaN                           NaN
1                        3767.4                           NaN
2                           NaN                          27.4
3                           NaN                           NaN
4                           NaN                           NaN
..                          ...                           ...
148                         NaN                           NaN
149                      3114.1                           NaN
151                         NaN                           NaN
152                         NaN                           NaN
154                         NaN                           NaN

     PM2.5_pollution($\mu$g/m$^3$)
0                              NaN
1                              NaN
2                              NaN
3                             19.1
4                              NaN
..                             ...
148                            NaN
149                            NaN
151                           12.3
152                            NaN
154                           12.3

[135 rows x 11 columns]>

In [1117]:
dfw_cleaned.info

<bound method DataFrame.info of     country_or_territory      city  total_city_population  year  \
0                 Poland  Warszawa                1709825  2005
1                 Poland  Warszawa                1709825  2005
2                 Poland  Warszawa                1709825  2005
3                 Poland  Warszawa                1709825  2005
4                 Poland  Warszawa                1709825  2005
..                   ...       ...                    ...   ...
148               Poland  Warszawa                1694872  2021
149               Poland  Warszawa                1694872  2021
151               Poland  Warszawa                1694872  2021
152               Poland  Warszawa                1694872  2021
154               Poland  Warszawa                1694872  2021

     air_pollution_average_($\mu$g/m$^3$)  premature_deaths  \
0                                    23.1             428.0
1                                  4638.5              56.0
2                                    31.5               NaN
3                                    22.2            1945.0
4                                    23.1             451.0
..                                    ...               ...
148                                  20.2             519.0
149                                3265.9              85.0
151                                  20.7            2586.0
152                                  20.2             942.0
154                                  20.7            3323.0

     years_of_life_lost  NO2_pollution($\mu$g/m$^3$)  \
0                5471.0                         25.4
1                 755.0                          NaN
2                   NaN                          NaN
3               24873.0                          NaN
4                5778.0                         25.4
..                  ...                          ...
148              5690.0                         22.0
149               967.0                          NaN
151             28368.0                          NaN
152             10338.0                         22.0
154             36460.0                          NaN

     O3_pollution($\mu$g/m$^3$)  PM10_pollution($\mu$g/m$^3$)  \
0                           NaN                           NaN
1                        4565.6                           NaN
2                           NaN                          32.8
3                           NaN                           NaN
4                           NaN                           NaN
..                          ...                           ...
148                         NaN                           NaN
149                      3256.7                           NaN
151                         NaN                           NaN
152                         NaN                           NaN
154                         NaN                           NaN

     PM2.5_pollution($\mu$g/m$^3$)
0                              NaN
1                              NaN
2                              NaN
3                             22.9
4                              NaN
..                             ...
148                            NaN
149                            NaN
151                           21.2
152                            NaN
154                           21.2

[135 rows x 11 columns]>

#### 1. Types and Split

In [1118]:
dfb_cleaned.dtypes

country_or_territory                     object
city                                     object
total_city_population                     int64
year                                      int64
air_pollution_average_($\mu$g/m$^3$)    float64
premature_deaths                        float64
years_of_life_lost                      float64
NO2_pollution($\mu$g/m$^3$)             float64
O3_pollution($\mu$g/m$^3$)              float64
PM10_pollution($\mu$g/m$^3$)            float64
PM2.5_pollution($\mu$g/m$^3$)           float64
dtype: object

In [1119]:
numeric_b= dfb_cleaned.select_dtypes('number')
categoric_b= dfb_cleaned.select_dtypes('object')

In [1120]:
numeric_w= dfw_cleaned.select_dtypes('number')
categoric_w= dfw_cleaned.select_dtypes('object')

#### 2. Create correlation matrix

General correlation matrix of both cities to have a general idea about the behaviour of the variables

#### BERLIN CORRELATION MATRIX

In [ ]:
corr_matrix_b = numeric_b.corr()
plt.figure(figsize=(15, 13))
sns.heatmap(corr_matrix_b, annot=True,fmt=".2f", linewidths=0.5, annot_kws={"size": 12}, square= True)
plt.xticks(fontsize=15)
plt.yticks(fontsize=15)

#### WARSAW CORRELATION MATRIX

In [ ]:
corr_matrix_w = numeric_w.corr()
plt.figure(figsize=(15, 13))
sns.heatmap(corr_matrix_w, annot=True,fmt=".2f", linewidths=0.5, annot_kws={"size": 12}, square= True)
plt.xticks(fontsize=15)
plt.yticks(fontsize=15)

### BERLIN SCATTERPLOTS

In [ ]:
sns.pairplot(dfb_cleaned)

In [ ]:
sns.scatterplot(x=dfb_cleaned['year'], y=dfb_cleaned['NO2_pollution($\\mu$g/m$^3$)'])
plt.show()

In [ ]:
sns.scatterplot(x=dfb_cleaned['year'], y=dfb_cleaned['PM10_pollution($\\mu$g/m$^3$)'])
plt.show()

In [ ]:
sns.scatterplot(x=dfb_cleaned['year'], y=dfb_cleaned['PM2.5_pollution($\\mu$g/m$^3$)'])
plt.show()

In [ ]:
sns.scatterplot(x=dfb_cleaned['year'], y=dfb_cleaned['O3_pollution($\\mu$g/m$^3$)'])
plt.show()

### WARSAW SCATTERPLOTS

In [ ]:
sns.pairplot(dfw_cleaned)

In [ ]:
sns.scatterplot(x=dfw_cleaned['year'], y=dfw_cleaned['NO2_pollution($\\mu$g/m$^3$)'])
plt.show()

In [ ]:
sns.scatterplot(x=dfw_cleaned['year'], y=dfw_cleaned['PM10_pollution($\\mu$g/m$^3$)'])
plt.show()

In [ ]:
sns.scatterplot(x=dfw_cleaned['year'], y=dfw_cleaned['PM2.5_pollution($\\mu$g/m$^3$)'])
plt.show()

In [ ]:
sns.scatterplot(x=dfw_cleaned['year'], y=dfw['O3_pollution($\\mu$g/m$^3$)'])
plt.show()

## MODEL

In [1121]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import MinMaxScaler 
from sklearn.preprocessing import StandardScaler

numeric_b.shape()

In [1122]:
from sklearn.impute import SimpleImputer
import numpy as np
import pandas as pd

# # Crear un imputador
# imputer = SimpleImputer(missing_values=np.nan, strategy='mean')

# # Imputar los valores faltantes en todas las columnas numéricas
# numeric_b_imputed_values = imputer.fit_transform(numeric_b)

# # Crear un DataFrame imputado con los mismos índices que numeric_b
# numeric_b_imputed = pd.DataFrame(numeric_b_imputed_values, columns=numeric_b.columns, index=numeric_b.index)

# # Imprimir el DataFrame resultante
# print(numeric_b_imputed)

from sklearn.impute import KNNImputer

# Crear un imputador KNN
knn_imputer = KNNImputer(n_neighbors=5)  # Puedes ajustar el número de vecinos según tu preferencia

# Imputar los valores faltantes en todas las columnas numéricas
numeric_b_imputed_values = knn_imputer.fit_transform(numeric_b)

# Crear un DataFrame imputado con los mismos índices que numeric_b
numeric_b_imputed = pd.DataFrame(numeric_b_imputed_values, columns=numeric_b.columns, index=numeric_b.index)

# Ahora puedes utilizar numeric_b_imputed en lugar de numeric_b para entrenar tu modelo de regresión lineal u otro modelo de aprendizaje automático.

In [1123]:
#Scaling 
transformer = MinMaxScaler().fit(numeric_b_imputed)
x_normalized = transformer.transform(numeric_b_imputed)

In [1124]:
x_norm = pd.DataFrame(x_normalized, columns = numeric_b_imputed.columns)
x_norm.head()

,total_city_population,year,air_pollution_average_($\mu$g/m$^3$),premature_deaths,years_of_life_lost,NO2_pollution($\mu$g/m$^3$),O3_pollution($\mu$g/m$^3$),PM10_pollution($\mu$g/m$^3$),PM2.5_pollution($\mu$g/m$^3$)
0,0.773889,0.0,0.002675,0.286728,0.282639,1.000000,0.383730,0.629268,0.441379
1,0.773889,0.0,0.699281,0.006453,0.007783,0.764706,0.459326,0.629268,0.377011
2,0.773889,0.0,0.002894,0.500108,0.493200,0.843137,0.383730,0.869919,0.728736
3,0.773889,0.0,0.001401,0.733061,0.722756,0.782353,0.583730,0.629268,0.908046
4,0.773889,0.0,0.002675,0.232093,0.228687,1.000000,0.383730,0.629268,0.441379

In [1125]:

# Eliminar filas con valores faltantes en la variable objetivo y
numeric_b_imputed.dropna(subset=['NO2_pollution($\\mu$g/m$^3$)'], inplace=True)

# Definir la variable objetivo y las características
y = numeric_b_imputed['NO2_pollution($\\mu$g/m$^3$)']
X = numeric_b_imputed.drop('NO2_pollution($\\mu$g/m$^3$)', axis=1)  # Eliminar la variable objetivo

# Escalar las características
scaler = MinMaxScaler()
x_normalized = scaler.fit_transform(X)
x_norm = pd.DataFrame(x_normalized, columns=X.columns)

# Dividir los datos en conjunto de entrenamiento y conjunto de prueba
X_train, X_test, y_train, y_test = train_test_split(x_norm, y, test_size=0.2, random_state=2222)

# Crear e inicializar el modelo de regresión lineal
model = LinearRegression()

# Entrenar el modelo con los datos de entrenamiento
model.fit(X_train, y_train)

# Evaluar el modelo
train_score = model.score(X_train, y_train)
test_score = model.score(X_test, y_test)

print("Coeficiente de determinación (R^2) en conjunto de entrenamiento:", train_score)
print("Coeficiente de determinación (R^2) en conjunto de prueba:", test_score)

Coeficiente de determinación (R^2) en conjunto de entrenamiento: 0.8508961816119909
Coeficiente de determinación (R^2) en conjunto de prueba: 0.9197748120371397